html, body {
	height: 100%;
	width: 100%;
}

.leftBox {
	background: #00aeff;
	height: 100%;
	width: 33%;
	float: left;
}

.middleBox {
	background: #00fffa;
	height: 100%;
	width: 33%;
	float: left;
}

.rightBox {
	background: #90ff00;
	height: 75%;
	width: 33%;
	float: left;
}

.bottomRightBox {
	background: red;
	height: 25%;
	width: 33%;
	float:right;
	margin-right: 1%;
}

.textBox {
	color: white;
	font-size: 3em;
	margin: 10% 40% 25% 25%;
}